@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "open-sans-semibold";
  src: url("./../public/fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "open-sans-bold";
  src: url("./../public/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "open-sans-regular";
  src: url("./../public/fonts/OpenSans-Regular.ttf");
}
